/* --------- Reset --------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------- Global Styles --------- */
body {
  font-family: "Inter", sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
  line-height: 1.5;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

/* Buttons */
button {
  padding: 10px 16px;
  border-radius: 6p
